@font-face {
  font-family: 'number_font';
  src: url('~@/assets/fonts/TG-TYPE-Bold.otf');
} //引入本地字体数字文件
.top-box {
  margin-top: -20px;
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
  .grid-content {
    cursor: pointer;
    background: #f5f6f7;
    &.current {
      background: #e4e4e4;
    }
  }
  .oride-top {
    font-size: 12px;
    text-align: center;
    padding: 10px 0;
    color: #666666;
  }
  .oride-middle {
    font-family: 'number_font';
    font-size: 14px;
    color: #4d4d4d;
    text-align: center;
    padding: 10px 0;
    em {
      margin-right: 5px;
      font-size: 24px;
      font-style: normal;
      color: #2a75ed;
    }
  }
  .oride-bottom {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    font-family: 'number_font';
    color: #666666;
    font-size: 12px;
  }
}
.el-divider--horizontal {
  margin: 0 !important;
}
