// 体验课v2.0布局样式
.team-layout {
  height: 100%;
  transition: all 0.2s;
  &-sidebar {
    position: relative;
    width: 240px;
    padding: 10px 0 0 0;
    // 班级筛选区
    &-handle {
      padding: 0 10px 10px;
      // min-height: 80px;
      border-bottom: 1px solid #ddd;
    }
    // 班级列表
    &-list {
      padding: 10px 0 10px 10px;
      overflow: hidden;
      // 隐藏el-scrollbar横向滚动条
      ::v-deep {
        .el-scrollbar__wrap {
          overflow-x: auto;
        }
      }
      .lazy-load-bottom {
        height: 10px;
        background-color: #fff;
      }
    }
  }

  &-container {
    padding-left: 10px;
    flex: 1;
    background-color: #f0f1f2;
    overflow: hidden;
    // overflow: auto;
  }

  &-main {
    padding: 10px;
    min-height: 100%;
    background-color: #fff;
  }
}

.closed {
  margin-left: -250px;
}
