/*
 * @Author: YangJiyong
 * @Email: yangjiyong@meishubao.com
 * @Date: 2020-03-14 00:39:19
 * @Last Modified by: YangJiyong
 * @Last Modified time: 2020-04-02 13:52:48
 * @Description: 公共样式
 */

 .d-flex{
   display: flex;
   &.align-center{
     align-items: center;
   }
   &.justify-center{
     justify-content: center;
   }
   &.justify-around{
     justify-content: space-around;
   }
   &.justify-between{
     justify-content: space-between
   }
   .flex-1{
     flex: 1;
   }
 }

 .el-input--small{
   font-size: 12px;
 }
 .box-shadow-0{
   box-shadow: none !important;
 }
 .el-tabs--border-card{
   border: none !important;
 }
 .el-dialog__body .el-button span{
   color: inherit !important;
 }
 .el-message{
   z-index: 10001 !important;
 }