@mixin main-title {
  font-size: 14px !important;
  // font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
}

@mixin arrow {
  content: '';
  position: absolute;
  top: 15px;
  right: 20px;
  width: 8px;
  height: 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 0;
  border-left: 0;
  transform: rotate(-45deg);
}
#app {
  .main-container {
    min-height: 100%;
    transition: margin-left 0.28s;
    margin-left: $sideBarWidth;
    position: relative;
    background: rgba(240, 241, 242, 1);
  }

  .sidebar-container {
    transition: width 0.28s;
    width: $sideBarWidth !important;
    background-color: $menuBg;
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;

    // reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out,
        0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .el-scrollbar {
      height: 100%;
      padding: 0 0 10px 0;
    }

    &.has-logo {
      .el-scrollbar {
        height: calc(100% - 50px);
      }
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .svg-icon {
      margin-right: 16px;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
      // 每一个group的间距
      > div {
        margin-top: 10px;
        > .el-menu-item {
          // 选中状态
          &.is-active {
            background-color: #fff !important;
            i,
            span {
              color: $menuBg !important;
            }
            .iconfont {
              fill: $menuBg !important;
            }
          }
        }
      }
      .el-menu-item {
        // 无二级菜单的模块title
        > span {
          @include main-title();
        }
        &:hover {
          background-color: $menuHover !important;
        }
      }
      em {
        font-style: normal;
      }
    }

    // menu hover
    .submenu-title-noDropdown,
    .el-submenu__title {
      &:hover {
        background-color: $menuHover !important;
      }
      // 有二级工菜单的模块title
      span {
        @include main-title();
      }
    }

    .is-active > .el-submenu__title {
      color: $subMenuActiveText !important;
      i {
        color: $subMenuActiveText !important;
      }
    }

    // 二级菜单样式
    .el-submenu {
      position: relative;
      &::after {
        @include arrow();
      }
      .el-menu-item-group__title {
        display: none;
      }
      .el-menu-item-group {
        ul {
          display: flex;
          flex-wrap: wrap;
          padding-left: 10px;
        }
        .el-menu-item {
          width: 50% !important;
          min-width: 50% !important;
          padding: 0 0 0 15px !important;
          text-align: left;
          height: 30px;
          line-height: 30px;
          font-size: 12px;
          // 二级导航选中状态
          &.is-active {
            em {
              margin-left: -5px;
              padding: 2px 5px !important;
              border-radius: 2px;
              color: #2b2f3d !important;
              background-color: $subMenuActiveBg !important;
            }
          }
        }
      }
    }

    .el-menu-item,
    .el-submenu {
      .item {
        i {
          margin-right: 8px;
        }
      }
    }

    .el-menu-item,
    .el-submenu__title {
      height: 34px;
      line-height: 34px;
      padding: 0 0 0 20px;
      // hack 箭头 hover 事件
      > div {
        position: relative;
        z-index: 10;
      }
    }

    & .nest-menu .el-submenu > .el-submenu__title,
    & .el-submenu .el-menu-item {
      .item {
        font-size: 12px;
        font-weight: normal;
      }
      &:hover {
        background-color: $subMenuHover !important;
        color: $subMenuHoverText !important;
      }
      // 自定义一级导航箭头
    }
    // 隐藏二级目录下拉箭头
    .el-submenu__icon-arrow {
      display: none;
    }
  }

  .hideSidebar {
    .sidebar-container {
      width: 54px !important;
    }

    .main-container {
      margin-left: 54px;
    }

    .submenu-title-noDropdown {
      padding: 0 !important;
      position: relative;
      .item i {
        margin-left: 18px;
      }

      .el-tooltip {
        padding: 0 !important;
        .item i {
          margin-left: 18px;
        }
      }
    }
    .el-menu-item {
      .el-tooltip {
        i {
          position: relative;
          right: 3px;
        }
      }
    }

    .el-submenu {
      overflow: hidden;
      span {
        display: none;
      }
      &.is-active {
        i {
          color: $subMenuActiveText !important;
        }
      }
      .el-submenu__title {
        i {
          position: relative;
          right: 3px;
        }
        .item i {
          margin-left: 18px;
        }

        .el-submenu__icon-arrow {
          display: none !important;
        }
      }
    }

    // 收起时状态
    .el-menu--collapse {
      .el-menu-item {
        position: relative;
        left: -5px;
      }
      .el-submenu {
        &::after {
          display: none;
        }
        & > .el-submenu__title {
          padding-left: 15px !important;
          & > span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: $sideBarWidth !important;
  }

  // mobile responsive
  .mobile {
    .main-container {
      margin-left: 0px;
    }

    .sidebar-container {
      transition: transform 0.28s;
      width: $sideBarWidth !important;
    }

    &.hideSidebar {
      .sidebar-container {
        pointer-events: none;
        transition-duration: 0.3s;
        transform: translate3d(-$sideBarWidth, 0, 0);
      }
    }
  }

  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

// when menu collapsed
.el-menu--vertical {
  em {
    font-style: normal;
  }
  & > .el-menu {
    .svg-icon {
      margin-right: 16px;
    }
  }

  .nest-menu .el-submenu > .el-submenu__title,
  .el-menu-item {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    background-color: #fff !important;
    color: #292f41 !important;
  }

  // the scroll bar appears when the subMenu is too long
  > .el-menu--popup {
    max-height: 100vh;
    min-width: inherit;
    padding: 10px 0 !important;
    overflow-y: auto;
    background-color: #fff !important;

    // .el-menu-item-group__title {
    //   color: #292f41 !important;
    // }

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}

/** icon */
.iconfont {
  margin-right: 5px;
  width: 24px;
  height: 16px;
  fill: $menuText;
}
.el-menu {
  > .el-menu-item.is-active {
    .iconfont {
      fill: $menuBg !important;
    }
  }
}
